{{ if eq .Page.Language.Lang "hy" }}
<div class="ai-services-banner-tvyal">
  <h2><a href="mailto:a@tavadyan.com?subject=Let's%20Put%20Data%20to%20Work!">Եթե ուզում եք AI գործիքներով ձեր տվյալներից օգուտ քաղել՝ ԴԻՄԵՔ ՄԵԶ</a></h2>
  <h3>Մենք առաջարկում ենք</h3>
  <ul>
    <li>Extensive databases for finding both international and local leads</li>
    <li>Exclusive reports on the Future of the Armenian Economy</li>
    <li>Work and browser automation to streamline operations and reduce staffing needs</li>
    <li>AI models for forecasting growth and optimizing various aspects of your business</li>
    <li>Advanced dashboarding and BI solutions</li>
    <li>Algorithmic trading</li>
  </ul>
  <h3><a href="mailto:a@tavadyan.com?subject=Let's%20Put%20Data%20to%20Work!">Let's Put Your Data to Work!</a></h3>
  <h3><a href="mailto:a@tavadyan.com?subject=Work%20application">ՄԻԱՑԵՔ ՄԵՐ ԹԻՄԻՆ</a></h3>
</div>
{{ else if eq .Page.Language.Lang "en" }}
<div class="ai-services-banner-tvyal">
  <h2><a href="mailto:a@tavadyan.com?subject=Let's%20Put%20Data%20to%20Work!">Want to Leverage Your Data with AI Tools? CONTACT US</a></h2>
  <h3>We Offer</h3>
  <ul>
    <li>Extensive databases for finding both international and local leads</li>
    <li>Exclusive reports on the Future of the Armenian Economy</li>
    <li>Work and browser automation to streamline operations and reduce staffing needs</li>
    <li>AI models for forecasting growth and optimizing various aspects of your business</li>
    <li>Advanced dashboarding and BI solutions</li>
    <li>Algorithmic trading</li>
  </ul>
  <h3><a href="mailto:a@tavadyan.com?subject=Let's%20Put%20Data%20to%20Work!">Let's Put Your Data to Work!</a></h3>
  <h3><a href="mailto:a@tavadyan.com?subject=Work%20application">JOIN OUR TEAM</a></h3>
</div>
{{ else }}
<div class="ai-services-banner-tvyal">
  <h2><a href="mailto:a@tavadyan.com?subject=Let's%20Put%20Data%20to%20Work!">Хотите использовать AI инструменты для анализа данных? СВЯЖИТЕСЬ С НАМИ</a></h2>
  <h3>Мы предлагаем</h3>
  <ul>
    <li>Обширные базы данных для поиска международных и локальных контактов</li>
    <li>Эксклюзивные отчеты о будущем экономики Армении</li>
    <li>Автоматизация работы и браузера для оптимизации операций</li>
    <li>AI модели для прогнозирования роста и оптимизации различных аспектов бизнеса</li>
    <li>Продвинутые решения для дашбордов и бизнес-аналитики</li>
    <li>Алгоритмическая торговля</li>
  </ul>
  <h3><a href="mailto:a@tavadyan.com?subject=Let's%20Put%20Data%20to%20Work!">Давайте заставим ваши данные работать!</a></h3>
  <h3><a href="mailto:a@tavadyan.com?subject=Work%20application">ПРИСОЕДИНЯЙТЕСЬ К НАШЕЙ КОМАНДЕ</a></h3>
</div>
{{ end }}
